[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/phyrondev/chromium-zlib.git
